/* 
    Document   : category
    Created on : 18 déc. 2013, 19:00:51
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.showImage
{
    border:  #ffffff solid 2px;
    margin : 15px 2px 5px 2px;

}
.showImage:hover{
    
    border:  #000000 outset 2px;
    
}

button .btn btn-default
{
    margin-top: 15px;
    margin-left: 250px;
    
}