/* 
    Document   : design.css
    Created on : 10 déc. 2013, 08:54:51
    Author     : lp
    Description:
    Purpose of the stylesheet follows.
*/
    root {
    display: block;
}
    .droparea {
    background-color: #999;
    text-align: center;
}
    .lightbox-wrapper {
    background-color: #3E606F;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0.9;
    display:none;
    
}
    html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
    .lightbox-image {
    position: relative;
    width: 80%;
    height: 70%;
    margin: auto;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    z-index: 4;
}
    .lightbox-image-legend {
    position:absolute;
    top:80%;
    left:0;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    height: 20%;
    opacity: 0.7;
    overflow:auto;
    overflow-y:auto;
    color:white;
    overflow-x:auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
    .lightbox-image-legend:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
    .lightbox-image-left {
    float: left;
}
    .lightbox-image-right {
    width: 20%;
}
    .lightbox-image-nav:hover {
    background-color: #91AA9D;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
    .lightbox-image-nav {
    background-color: #91AA9D;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.lightbox-nav {
    height:60px;
    width:20%;
    margin:auto;
    overflow:hidden;
}

.lightbox-nav-close {
    
    position:absolute;
    right:0;
}

.lightbox-img {
    align-content:center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-height:100%;
    width:auto;
}
